      
      
<!DOCTYPE html>
<html>
  <head>
    <title>Photomap</title>
    
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
  
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">  
    </script>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjpAziyGrlEtohxyUEkITvYO9cv1xlcTg&sensor=true">
    </script>

    <script type="text/javascript">
    $(function () {
      
      window.App.initialize($("#map-canvas"));
    });
  </script>



  </head>
  <body>
     
  </body>
</html>



<!-- 
maps api key: AIzaSyDjpAziyGrlEtohxyUEkITvYO9cv1xlcTg 
https://developers.google.com/maps/documentation/javascript/events
https://developers.google.com/places/documentation/autocomplete
http://api.eventful.com/
http://instagram.com/developer/endpoints/locations/
http://instagram.com/developer/endpoints/media/ 
-->