

<!DOCTYPE html>
<html>
  <head>
    <title>Photomap</title>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjpAziyGrlEtohxyUEkITvYO9cv1xlcTg&sensor=true">
    </script>



    <script type="text/javascript">
    $(function () {
      window.App.initialize();
    });
  </script>



  </head>
  <body>



      <div id="gallery" class="photos clearfix"></div>
      <div id="map"></div>


  </body>
</html>



<!--
maps api key: AIzaSyDjpAziyGrlEtohxyUEkITvYO9cv1xlcTg
https://developers.google.com/maps/documentation/javascript/events
https://developers.google.com/places/documentation/autocomplete
http://api.eventful.com/
http://instagram.com/developer/endpoints/locations/
http://instagram.com/developer/endpoints/media/
https://github.com/ropiku/omniauth-instagram
-->