

<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>

      <div id="map"></div>
      <div id="sidebar" class="photos clearfix"></div>
      


      <!-- <div width="100%" style="overflow: auto"> -->
<!--       </div> -->

        

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&sensor=true">
  </script>

  <script type="text/javascript">  
    $(function () {
      <% if user_signed_in? %>
      var currentUser = <%= current_user.to_json.html_safe %>;
        window.App.initialize(currentUser);
      <% else %>
        window.App.initialize(user = null);
      <% end %>
    });
  </script>

  </body>
</html>



<!--
# maps api key: AIzaSyDjpAziyGrlEtohxyUEkITvYO9cv1xlcTg
#places api key:
# https://developers.google.com/maps/documentation/javascript/events
# https://developers.google.com/places/documentation/autocomplete
# http://api.eventful.com/
# http://instagram.com/developer/endpoints/locations/
# http://instagram.com/developer/endpoints/media/
# https://github.com/ropiku/omniauth-instagram
#"https://maps.googleapis.com/maps/api/js?key=AIzaSyDjpAziyGrlEtohxyUEkITvYO9cv1xlcTg&sensor=false"
# -->