

<!DOCTYPE html>
<html>
  <head>
    <title>Photomap</title>

    <style type="text/css">
      html, body { height: 100%; width: 100%; }
      #map {
          display:block;
          position:absolute;
          height:auto;
          bottom:0;
          top:12%;
          left:0;
          right:50%;
         /* margin-top:50px;*/
      }
      #map img { max-width: none; }
    </style>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjpAziyGrlEtohxyUEkITvYO9cv1xlcTg&sensor=true">
    </script>

    <script type="text/javascript">
    $(function () {
      window.App.initialize();
    });
  </script>



  </head>
  <body>

    <div id="map"></div>



    <div class="gallery">
    </div>
  </body>
</html>



<!--
maps api key: AIzaSyDjpAziyGrlEtohxyUEkITvYO9cv1xlcTg
https://developers.google.com/maps/documentation/javascript/events
https://developers.google.com/places/documentation/autocomplete
http://api.eventful.com/
http://instagram.com/developer/endpoints/locations/
http://instagram.com/developer/endpoints/media/
https://github.com/ropiku/omniauth-instagram
-->