      
      
<!DOCTYPE html>
<html>
  <head>
    <title>Photomap</title>
    
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map { height: 100% }
    </style>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjpAziyGrlEtohxyUEkITvYO9cv1xlcTg&sensor=true">
    </script>

    <script type="text/javascript">
    $(function () {
      
      window.App.initialize();


    });
  </script>



  </head>
  <body>
   <div class="navbar ">
    <div class="navbar-inner"> 
    	<h1>See what's happening</h1>
      <div class="container">
          <ul class="nav">
            <li>
              <a href="#events">
                Events nearby
              </a>
            </li>
            <li>
              <a href="#friends">
                Friends
              </a>
            </li>
            <li>
              <a href="#lists">
                Lists
              </a>
            </li>
          </ul>
      </div>
    </div>
   </div>

    <div id="map"/>

  </body>
</html>



<!-- 
maps api key: AIzaSyDjpAziyGrlEtohxyUEkITvYO9cv1xlcTg 
https://developers.google.com/maps/documentation/javascript/events
https://developers.google.com/places/documentation/autocomplete
http://api.eventful.com/
http://instagram.com/developer/endpoints/locations/
http://instagram.com/developer/endpoints/media/ 
-->