<a class="fancybox" 
	  rel="group"
	  <% if(photo.get("caption")) { %>
	    title="<b>@<%= photo.get("user").username%></b> <br><%= photo.get("caption").text%>"
	  <% } %>
	  href="<%=photo.get("images").standard_resolution.url %>" >
	   <img src="<%=photo.get("images").thumbnail.url%>" alt="" />
	</a>