<div style="padding: 18px 42px 5px 25px; position: relative;">
	<div class="venue-content">
	Click on the map, search anywhere in the world, or check out the following cities to see more photos
	</div>
</div>

<%= JST["gallery/cities"]() %>
