<div style="padding: 18px 42px 5px 25px; position: relative;">
	<div class="venue-content">
	No recent photos here.  Click another place on the map or visit a city below!
	</div>
</div>

<%= JST["gallery/cities"]() %>