<div style="padding: 18px 42px 5px 25px; position: relative;">
	<div class="venue-content">
	No trending locations were found.  Want to visit another city?
	</div>
</div>

<%= JST["gallery/cities"]() %>




