<div style="padding: 18px 42px 5px 25px; position: relative;">
	<div class="venue-content">
	No trending locations were found.  Want to visit another city?
	</div>
</div>
	<div class="span3"> 
		<a href="#geo/(40.7354213586, -73.99661064)" class="btn btn-large btn-block btn-primary">New York</a>
	</div>

	<div class="span3"> 
		<a href="#geo/(37.7931684, -122.396450)" class="btn btn-large btn-block btn-primary">San Francisco</a>
	</div>

	<div class="span3"> 
		<a href="#geo/(51.49730901, -0.145740509)" class="btn btn-large btn-block btn-info">London</a>
	</div>

	<div class="span3"> 
		<a href="#geo/(48.858278, 2.2942540000000236)" class="btn btn-large btn-block btn-info">Paris</a>
	</div>

	<div class="span3"> 
		<a href="#geo/(35.659545299, 139.7010004)" class="btn btn-large btn-block btn-danger">Tokyo</a>
	</div>

	<div class="span3"> 
		<a href="#geo/(37.52470308, 127.03319549)" class="btn btn-large btn-block btn-danger">Seoul</a>
	</div>

	<div class="span3"> 
		<a href="#geo/(-22.9881850607, -43.19008827)" class="btn btn-large btn-block btn-success">Rio de Janiero</a>
	</div>

		<div class="span3"> 
		<a href="#geo/(-33.8674869, 151.20699020000006)" class="btn btn-large btn-block btn-success">Sydney</a>
	</div>


